
.app-container {
    padding: 24px 16%;
}

.help-me .form {
    margin: 48px auto;
    width: 640px;
}

.errand-item {
    border: 1px solid lightgrey;
    border-radius: 18px;
    box-shadow: 0 0 2px lightgrey;
    width: 720px;
    margin: 14px auto;
    padding: 18px 36px;
    cursor: pointer;
}

.errand-item div {
    margin-bottom: 4px;
}

.page-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 28px;
}

.my-page .form {
    width: 480px;
    margin: 0 auto;
}